{% extends "base.html" %} {% load static %} {% block content %}
<div class="payment-page container-fluid">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header"><span class="navbar-brand"><a class="logo" href="/dashboard"><img style="width: 170px" src="/static/images/logo.png" /></a></span>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a id="basic-nav-dropdown" href="/dashboard/" role="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" href="#">
                        {{ request.user }} <span class="caret"></span></a>
                </li>
            </ul>
        </div>
    </nav>
    {% block body %} {% endblock %}
    <div class="modal fade" id="in-progress">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Server Update In-Progress <img class="pull-right" src="{% static 'img/in-progress.gif' %}" /></h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar" style="width: 0%;"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endblock %}
