.dashboard-page {
    color: #454656;
    background-color: #eee;
    padding-bottom: 60px;


    $primary: #708ce6;
        $primary-dark: darken($primary, 5);

    .container {
            max-width:100%;
            width:100%;
        }



    .btn-success {
        background-color: #74ca88;
        border-color: #74ca88;
        color: #fff;
    }

    .btn-default {
        background-color: #dbe4ff;
        border-color: #dbe4ff;
    }

    .keywords {
        .panel-body {
            padding: 0 15px;
        }

        .actions {
            padding-top: 5px;

            .limit {
              padding-top: 10px;
              a {
                padding-left: 10px;
                font-size: 16px;
              }
            }
        }
    }

    .similars {
        .panel-body {
            padding: 10px 10px 50px;
            background-color: #f5f6fc;
            height: 130px;
            overflow-y: scroll;
            overflow-x: hidden;

            .col-md-4 {
                padding-bottom: 10px;
            }
        }
    }

    .form-template {
        background-color: #fff;
        border-color: #dbd9ed;

        .placeholder {
            color: #999;
        }
    }

    .description-template {
        height: 108px;
    }

    .dashboard-content {
        .progress {
            margin-bottom: 0;
            margin-right: 20px;

            .progress-bar {
                background-color: #839ff9;
            }
        }

        .photo-block {
            margin-right: -20px;
        }

        .suggestions-block {
            background-color: #f5f6fc;
            margin-left: -20px;
            margin-right: 0;

            .panel-heading {
                background-color: #fff;
            }

            .nav-tabs {
                background-color: #fff;

                li > a {
                    background-color: #dbdaed;
                    border: transparent;
                    color: #56576c;
                }
            }
        }

        .suggestions {
            margin-top: -20px;

            .tab-content {
                padding: 10px;
                background-color: #f5f6fc;
                overflow-y: scroll;
                overflow-x: hidden;
                margin: -15px;
                height: 700px;

                .col-md-8 {
                    padding-top: 5px;
                }

                .row {
                  padding-bottom: 10px;
                }
            }

            .nav-tabs {
                padding: 10px;
                margin-bottom: 15px;
                margin-left: -15px;
                margin-right: -15px;
                border: transparent;

                li {
                    margin-top: 3px;
                }

                li.active > a,
                li.active > a:focus,
                li.active > a:hover {
                  color: #fff;
                  background-color: #b2c4ff;
                }

                li > a {
                    background-color: #dbe4ff;
                    border-color: #dbe4ff;
                    color: #56576c;
                    padding: 6px 12px;
                }

                li > a:focus,
                li > a:hover {
                    background-color: #b2c4ff;
                    border-color: #b2c4ff;
                    color: #fff;
                }
            }
        }
    }

    .panel {
        margin-bottom: 10px;
    }
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-style: normal;
    font-variant: normal;

    input,
    textarea {
        border-color: #dbd9ed;
        background-color: #f5f6fc;
    }

    .btn-primary {
        background-color: #839ff9;
        border-color: #839ff9;
    }

    .btn-default {
        background-color: #dbdaed;
        border: transparent;
        color: #56576c;
    }

    .btn-default:focus,
    .btn-default:hover {
        background-color: #dbdaed;
        border: 1px solid transparent;
        color: #56576c;
    }

    .btn.disabled,
    .btn[disabled],
    fieldset[disabled] .btn {
      color: #839ff9;
      border: 1px solid #839ff9;
      background-color: #fff;
      opacity: 0.7;
    }

    .templates {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .templates-list {
        padding-left: 0;
        padding-right: 0;

        .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:focus,
        .nav-tabs > li.active > a:hover {
            border: none;
            border-bottom: 2px solid #000;
            color: #000;
        }

        .nav-tabs > li > a {
            color: #56576c;
        }

        .nav-tabs > li > a:focus,
        .nav-tabs > li > a:hover {
            background-color: #fff;
            border: none;
            border-bottom: 2px solid #000;
            color: #000;
        }
    }

    .panel-default {
        .panel-heading {
            border-bottom: none;
            font-weight: bold;
        }
    }

    .navbar-default {
        background-color: #fff;
        margin-left: -15px;
        margin-right: -15px;
        box-shadow: 0 2px 2px rgba(0,0,0,.2);
    border-bottom: 0;

        .logo {
            img {
              margin-top: -6px;
            }
        }

        span {
            color: #565763;
            font-size: 16px;
            margin-top: -5px;
        }
    }

    .templates {
        .description,
        .main-tags,
        .tags,
        .title {
            position: absolute;
            right: 20px;
            color: #ccc;
            font-size: 13px;
        }

        li > button {
            background-color: #dbe4ff;
            border-color: #dbe4ff;
            color: #56576c;
        }


        li > button:focus,
        li > button:hover,
        li > button:disabled,
        li > button:active {
            background-color: #b2c4ff;
            border-color: #b2c4ff;
            color: #fff;
            opacity: 1;
        }

        .input-group-addon {
            background-color: #fff;
            cursor: pointer;
            color: #839ff9;
            font-size: 19px;
        }
    }

    #footer {
        position: fixed;
        bottom: 0px;
        height: 63px;
        width: 100%;
        z-index: 999999;

        .navbar {
            background-color: #f8f6f6;
            border: none;
            border-radius: 0;
            margin-bottom: 0;
        }
    }
}

.popover-content {
    .btn-primary {
        background-color: #839ff9;
        border-color: #839ff9;
    }
}

.new-template {
    .forms {
        .control-label {
            color: #56576c;
        }

        input,
        textarea {
            border-color: #dbd9ed;
            background-color: #f5f6fc;
        }

        .validate {
            position: absolute;
            right: 20px;
            color: #ccc;
        }
    }

    .btn-primary {
        background-color: #839ff9;
        border-color: #839ff9;
    }
}

.btn-trademark {
    border-radius: 2px;
    color: #56576c;
    background-color: #ffe5e5;
    padding: 5px 10px;
    border: 1px solid #d9b8b8;
    white-space: nowrap;
    position: absolute;
    max-width: 180px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reset-keywords,
.reset-keywords:active,
.reset-keywords:focus,
.reset-keywords:hover {
    cursor: pointer;
    color: #839ff9;
    border: 1px solid #839ff9;
}

.start-over,
.start-over:active,
.start-over:focus,
.start-over:hover {
    cursor: pointer;
    color: #839ff9;
    position: absolute;
    width: 150px;
    top: 20px;
}
