h1,
h2,
h3,
h4,
h5 {
    color: $primary;
    font-weight: 100;
}

p {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    line-height: 17px;
}

.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success[disabled],
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success:hover {
    background-color: #fff;
    color: $brand-success;
    opacity: 1;
}

a,
a:focus,
a:hover {
    text-decoration: none;
}

.icon {
    padding-right: 5px;
}

.profile-header {
    li {
        font-size: 12px;

        img {
            margin-top: -3px;
        }
    }
}

.has-error .form-control {
    color: #f50313;
    border-color: #f50313;
}

.modal-content {
    h4,
    h5 {
        color: #616277 !important;
    }
}

.ion-android-add-circle {
    color: #dbb1bc;
    cursor: pointer;
    position: absolute;
    top: 4px;
    padding-left: 1px;
    left: 0;
}

.plus-button {
    background: #74ca88;
    border-color: transparent;
    color: #fff;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 14px;
    margin: 5px 5px 5px 0px;
}

.btn-container {
    border-radius: 2px;
    color: #56576c;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #afafbd;
    white-space: nowrap;
    position: absolute;
    max-width: 180px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.volume {
    position: absolute;
    top: 10px;
    right: 10px;
}
