nav.navbar.navbar-default {
    border-radius: 0px;
    border-bottom: none;

    .nav.navbar-nav > li.active > a {
        background: transparent;
        color: #839ff9;
        border-bottom: 2px solid;
    }
}


    .research-page {
        color: #454656;
        background-color: rgba(69, 70, 86, 1);
        background-color:#eee;
        padding-bottom: 60px;

        $primary: #708ce6;
        $primary-dark: darken($primary, 5);

        h3 {
            color: #444;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: .5px;
        }

        .loadedContent {
            min-height: 400px;
        }

        .minus-button {
            background: #d84343;
            border-color: transparent;
            color: #fff;
            border-radius: 2px;
            width: 20px;
            height: 20px;
            padding: 0;
            font-size: 14px;
            margin: 5px 5px 5px 0;
        }

        .bottom-actions {
            margin: 0px -15px;
            padding: 15px;
            box-shadow: 0px -2px 5px rgba(0,0,0,.2);
            position: relative;
        }


        .suggestions {
            height: calc(100vh - 500px);
            overflow: auto;
            min-height: 400px;

            .btn-container {
                margin-top: 0px;
                position: relative;
                display: inline-block;
            }
        }

        #copiedText, #exportedText {
            display:none;
        }


        .form-control {
            box-shadow: none;
            border-radius: 2px;

        }
        .container {
            max-width:100%;
            width:100%;
        }

        .full-width-image {
            width: 100%;
        }

        .navbar.navbar-default {
            position: fixed;
            z-index: 500;
            width: 100%;
            box-shadow: 0px 2px 2px rgba(0,0,0,.2);
            border-bottom: 0px;
        }


        .filter-buttons {
            margin:5px;
            text-align: right;
            padding: 10px 0px;

            .btn {
                margin-right:5px;
                opacity: 1;
                text-transform: uppercase;
                letter-spacing: .5px;

                &.btn-outline {
                    color: #839ff9;
                    border: 1px solid #839ff9;
                    background: transparent;
                }
            }
        }

        .research-content {
                padding-top: 70px;

            .fixed-subheader {
                position: fixed;
                top: 53px;
                width: 100%;
                left: 0px;
                z-index: 50;
                margin-bottom: 250px;

                &.unfixed {
                    margin: 0px;
                    position: relative;
                    top: 0px;
                    padding: 30px;
                }
            }

            .panel {
                border-radius: 0px;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, .2);
                border: none;
                border: 2px solid $primary;

                .panel-heading {
                        background: $primary;
                        color: #fff;
                        font-weight: 300;
                        text-shadow: none;
                        font-size: 18px;
                        letter-spacing: .5px;
                        border-radius: 0px;
                }

                small.hint {
                    margin-top: 5px;
                    display: block;
                    color: #aaa;
                }

                .hint {
                    color:#aaa;
                }

                .form-group {
                    .btn.btn-primary {
                        position: absolute;
                        margin-top: -34px;
                        margin-left: 226px;
                        text-align: center;
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 0px;
                        right: 15px;
                            padding: 6.5px 15px;
                        background: #708ce6;
                        opacity: 1;
                        padding-bototm: px;
                        text-transform: uppercase;
                        letter-spacing: .5px;

                        .icon {
                            display: inline;
                            margin: auto;
                            text-align: center;
                            padding: 0px;

                            color: #fff;
                        }
                    }
                }

                .panel-body {
                    padding: 0px 15px 0px 15px;

                    .react-bs-table-pagination {
                        padding: 15px 15px !important;
                    }

                    .react-bs-table {
                        height:auto !important;

                        table {
                            tr {
                                td {
                                    text-align:left;
                                }
                            }
                        }
                    }

                    .react-bs-container-body {
                        height: calc(100vh - 300px) !important;
                        overflow: auto;
                    }
                }
            }
        }

        .btn {
                border-radius: 2px;

                opacity: 1;
                text-transform: uppercase;
                letter-spacing: .5px;

            &.btn-default {
                    background: #ddd;
                    border: 1px solid #ddd;
            }
            &.btn-outline:hover {
                background-color: #839ff9;
                color:#fff;
            }
        }

        .btn-primary {
            background-color: $primary;
            border-color: $primary;
            transition:background-color .5s;

            &:hover, &:focus, &:active {
                background-color:$primary-dark;
                border-color:$primary-dark;
            }
        }

        .btn-default {
            background-color: #dbe4ff;
            border-color: #dbe4ff;
        }

        .btn-outline.disabled,
        .btn-outline[disabled],
        fieldset[disabled] .btn-outline {
            color: #839ff9;
            border: 1px solid #839ff9;
            background-color: #fff;
            opacity: 0.7;
        }

        input,
        textarea {
            border-color: #dbd9ed;
            background-color: #f5f6fc;
        }

        .react-tagsinput-tag {
            background-color: $primary;
            padding: 8px;
        }

        .panel-default {
            .panel-heading {
                border-bottom: none;
                font-weight: bold;
                font-size: 15px;
                color: #333333;
            }
        }

        .navbar-default {
            background-color: #fff;
            margin-left: -15px;
            margin-right: -15px;

            .logo {
                img {
                    margin-top: -6px;
                }
            }

            span {
                color: #565763;
                font-size: 16px;
                margin-top: -5px;
            }
        }

        .amazon-result {
            margin-top: -10px;

            .spinner {
                top: 100px !important;
            }

            .panel-body {
                padding: 0;
                color: #56576c;

                .table {
                    margin-bottom: 0;

                    thead {
                        th {
                            border-bottom: 1px solid #dbdaed;
                            font-size: small;
                        }
                    }

                    tbody {
                        background-color: #fff;

                        td {

                            border-top: 1px solid #aebce6;
                            white-space: normal;
                            font-size: 16px;
                            font-weight: 400;
                            color: #333;

                            a {
                                color: #7697ff;
                            }
                        }
                    }
                }
            }
        }
    }

